.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 5%; */
    padding-bottom: 5%;
}

.addToAlbum {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    width: 45%;
}

.goBack {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    width: 20%;
}

.download {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    width: 45%;
}

.btnContainer {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.img {
    width: 50%;
    padding: 5%;
}

.date{
    color: gray;
}