/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    /* overflow: hiddesn; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .logo {
    margin-left: 50%;
    width: 100%;
} */
.myAlbums {
    /* position: absolute;
    right: 0px; */
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    font-weight: 800;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

.myAlbumsContainer {
    /* position: absolute;
    right: 0; */
    background-color: blueviolet;
    width: 50%;
    float: right;
}

.dropdown {
    position: relative;
  }
  
  .menu {
    position: absolute;
  
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
  
    border: 1px solid grey;
    width: 150px;
  }
  
  .menu > li {
    margin: 0;
  
    background-color: white;
  }
  
  .menu > li:hover {
    background-color: lightgray;
  }
  
  .menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
  
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }
