.topContainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.masonryContainer {
    column-count: 3;
    column-gap: 15px;
}
.masonryItem {
    display: inline-block;
    width: 100%;
}
.masonryItem img {
    /* display: block; */
    width: 100%;
    margin-top: 15px;
}
