.modalBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 50%;
    height: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: black 4px solid;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    flex-direction: column;
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancelBtn {
    background-color: crimson;
}

.newAlbum {
    color: black;
    font-size: 16px;
    font-weight: 800;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.btn:hover {
    background-color: #666;
    color: white;
}

.actionButtons {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.saveButton {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    width: 45%;
}

.cancelButton {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 800;
    width: 45%;
}

.modalInput {
    border: none;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: inherit;
    font-weight: 800;
    width: 90%;
    height: 20%;
    text-align: center;
}

*:focus {
    outline: none;
}

.selectList{
    font-size: inherit;
    font-weight: 800;
    width: 70%;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}