.mainLabel {
    color: black;
    text-align: center;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: xxx-large;
}

.paragraph {
    width: 100%;
    font: normal normal normal 22px/28px;
    letter-spacing: 0.44px;
}

.input {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-weight: 800;
    width: 20%;
}

.signIn {
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 800;
    width: 10%;
    height: 40px;
    margin: 20px;
}

.inputWrapper {
    padding: 20px;
}

.label{
    padding-bottom: 5px;
}
