.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 250px; /* Height of the footer */
    background: black;
}
.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerImg {
    position: fixed;
    bottom: 0;
    z-index: 999;
}
