.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input {
    width: auto;
}

.label {
    color: black;
    text-align: center;
    font: normal normal 800 14px/18px "Lexend Deca";
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}
